<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bookflex.backend.mapper.UserMapper">
    <select id="findUserByUsername" resultType="UserDto">
        SELECT USER_ID userId, username, password, role
        FROM USER
        WHERE USERNAME = #{username}
    </select>

    <select id="findByUserId" resultType="UserDto">
        SELECT USER_ID userId, username, PASSWORD, role
        FROM USER
        WHERE USER_ID = #{userId}
    </select>
    
    <insert id="save" parameterType="UserDto">
        INSERT INTO USER (USERNAME, PASSWORD)
        VALUES ( #{username}, #{password} )
    </insert>
</mapper>